{% extends 'root.html' %}

{% block content %}
  <h1>Admin: View Votes</h1>

  <!-- Display message if no votes are available -->
  {% if not votes %}
    <p>No votes have been cast yet.</p>
  {% else %}
    <table class="table">
      <thead>
        <tr>
          <th>Voter</th>
          <th>Position</th>
          <th>Candidate</th>
          <th>Vote Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {% for vote in votes %}
          <tr>
            <td>{{ vote.voter.admin.first_name }} {{ vote.voter.admin.last_name }}</td>
            <td>{{ vote.position.name }}</td>
            <td>{{ vote.candidate.fullname }}</td>
            <td>{{ vote.id|date:"F j, Y, g:i a" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
