{% extends "voting/base.html" %}
{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <b>Online Voting System</b>
        </div>

        <div class="login-box-body">
            <!-- <p class="login-box-msg">Sign in to start your session</p> -->

            <form method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
            
                <div class="form-group has-feedback">
                    {{ form.email }}
                    {{ form.email.errors }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
            
                <div class="form-group has-feedback">
                    {{ form.password }}
                    {{ form.password.errors }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
            
                <div class="form-group has-feedback">
                    {{ form.captcha }}
                    {{ form.captcha.errors }}
                </div>   

                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-success btn-block btn-flat" name="login"><i
                                class="fa fa-sign-in"></i> Log In</button>
                    </div>
                    <div class="pull-right col-xs-4">
                        <a  class="btn btn-warning btn-block btn-flat" href="{% url 'account_register' %}"><i class="fa fa-user-plus"></i> Register</a>
                    </div>
                </div>
            </form>
            <!-- Forgot password link -->
        <div class="text-center" style="margin-top: 10px;">
            <a href="{% url 'forgot_password' %}">Forgot Password?</a>
        </div>
            <!-- Need help button -->
        <div class="text-center" style="margin-top: 10px;">
            <a href="{% url 'help_home' %}" class="btn btn-warning btn-block">Need Help?</a>
        </div>

        </div>
            </div>

 
{% endblock content %} 